@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.tags {
  @include margin-bottom(0.5);

  &__list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 10px 5px;

      &-link {
        display: inline-block;
        height: 25px;
        padding: 0 24px;
        line-height: 1.5rem;
        border: 1px solid $color-gray-border;
        text-decoration: none;
        border-radius: $button-border-radius;
        color: #ffffff;
        background-color: purple;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}
